@tailwind base;
@tailwind components;
@tailwind utilities;

.counter{
    counter-increment: counter;
    @apply relative
}
.click{
    cursor: pointer;
    transition: all .3s ease;
}
@layer utilities {
    .counter::before{
        content: counter(counter);
        @apply w-[30px] h-[30px] rounded-full bg-Background text-Base(body) text-Label font-space-mono flex justify-center items-center absolute top-3 left-3
    }
}